@import 'tailwindcss';

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-inter), 'Inter', sans-serif;
  --font-space: var(--font-inter), 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-600 selection:bg-orange-500/20 selection:text-slate-900 cursor-none;
  }

  a, button, [role="button"] {
    @apply cursor-none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-space;
  }
}

/* Custom Scrollbar for Executive look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-none;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-500;
}
